- semantic_form_for(snippet) do |f|
  - f.inputs do
    .prepend-19= f.input :language, :include_blank => false, :label => false
    %p.span-20= f.input :code, :label=>false
    .prepend-20= f.commit_button
