%h2 Snippets

#snippets.span-24
  - @snippets.each_with_index do |snippet, index|
    .span-24.snippet{:id => "snippet_#{index}"}
      .span-21= link_to 'Show', snippet
      .span-3.last.quiet #{time_ago_in_words(snippet.updated_at)} ago
      .span-1
        %pre.slush_poppies
          %span.line-numbers>~ snippet.preview.formatted_line_numbering
      .span-23.last
        ~ snippet.preview.formatted_code

%br

.digg_pagination.prepend-10= will_paginate @snippets