%h2 Snippets

#snippets
  - @snippets.each_with_index do |snippet, index|
    .snippet{:id => "snippet_#{index}"}
      .span-21= link_to 'Show', snippet
      .span-3.last.quiet #{time_ago_in_words(snippet.updated_at)} ago
      .span-1.first
        %pre.slush_poppies
          %span.line-numbers>~ snippet.preview.formatted_line_numbering
      .span-23.last
        ~ snippet.preview.formatted_code

%br

= will_paginate @snippets