.span-1
  %pre.slush_poppies
    %span.line-numbers>~ @snippet.formatted_line_numbering
.span-23.last
  ~ @snippet.formatted_code
%p
  %b Language:
  =h @snippet.language.name

= link_to 'Edit', edit_snippet_path(@snippet)
|
= link_to 'Destroy', @snippet, :confirm => 'Are you sure?', :method => :delete
|
=link_to "Raw", snippet_path(@snippet, :format=>:text)
|
=link_to "JSON", snippet_path(@snippet, :format=>:json)